In [1]:
import psycopg2
import os

In [2]:
conn = psycopg2.connect(host="localhost", port=5432, user="postgres", password="password", database="yo")
curr = conn.cursor()

In [7]:
with open("/home/tanveer/Desktop/processed/class_7_a_hy_60.csv", "r") as f:
    curr.copy_from(f, "marks", sep=",")

InvalidTextRepresentation: invalid input syntax for type double precision: ""
CONTEXT:  COPY marks, line 166, column marks_obtained: ""

In [6]:
conn.commit()

In [47]:
conn.close()

In [19]:
processed_dir = "/home/tanveer/Desktop/processed/"

In [14]:
for file in os.listdir(processed_dir):
    print(processed_dir+file)

/home/tanveer/Desktop/processed/class_6_a_hy_60.csv
/home/tanveer/Desktop/processed/class_10_a_pt2_40.csv
/home/tanveer/Desktop/processed/class_7_a_hy_60.csv
/home/tanveer/Desktop/processed/class_6_b_hy_60.csv
/home/tanveer/Desktop/processed/class_9_a_pt2_40.csv
/home/tanveer/Desktop/processed/class_8_a_hy_60.csv
/home/tanveer/Desktop/processed/class_10_b_pt2_40.csv

In [25]:
for file in os.listdir(processed_dir):
    try:
        with open(processed_dir+file, "r") as f:
            curr.copy_from(f, "marks", sep=",")
            conn.commit()
        print(file)
    except:
        print(file+" not loaded")

class_6_a_hy_60.csv not loaded
class_10_a_pt2_40.csv not loaded
class_7_a_hy_60.csv not loaded
class_6_b_hy_60.csv not loaded
class_9_a_pt2_40.csv not loaded
class_8_a_hy_60.csv not loaded
.~lock.class_6_a_hy_60.csv# not loaded
class_10_b_pt2_40.csv not loaded

In [34]:
import pandas as pd
df = pd.read_csv("/home/tanveer/Desktop/processed/class_6_a_hy_60.csv", header=None)
df.columns = ["roll", "name", "class", "sec", "exam", "exam_total", "subject", "marks"]

In [35]:
df

     roll                 name  class sec exam  exam_total   subject  marks
0       1      ANGELINA  BORAH      6   a   hy          60       sst   40.0
1       2        BONASHREE DAS      6   a   hy          60       sst    7.0
2       3  GARGI BHATTACHARJEE      6   a   hy          60       sst   13.0
3       4        JIYA   MANDAL      6   a   hy          60       sst    2.0
4       5       KASTURI SAIKIA      6   a   hy          60       sst   18.0
..    ...                  ...    ...  ..  ...         ...       ...    ...
217    33   TANMOY CHAKRABORTY      6   a   hy          60  sanskrit   38.0
218    34     TANUSH KUMAR SAH      6   a   hy          60  sanskrit   58.0
219    35          UTKARSH RAJ      6   a   hy          60  sanskrit   38.0
220    36         WASHAF HAQUE      6   a   hy          60  sanskrit   20.0
221    37        AADESH MAHATO      6   a   hy          60  sanskrit   15.0

[222 rows x 8 columns]

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222 entries, 0 to 221
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   roll        222 non-null    int64
 1   name        222 non-null    object
 2   class       222 non-null    int64
 3   sec         222 non-null    object
 4   exam        222 non-null    object
 5   exam_total  222 non-null    int64
 6   subject     222 non-null    object
 7   marks       216 non-null    float64
dtypes: float64(1), int64(3), object(4)
memory usage: 14.0+ KB